<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mapper.UserMapper">
    <sql id="hist">
        id,
        name,
        sex,
        email,
        brithdat
    </sql>
    <select id="findAll" resultType="cn.com.bean.UserBean">
        select <include refid="hist"></include> from user_lp
    </select>

    <update id="update" parameterType="cn.com.bean.UserBean">
        update user_lp set name=#{name},sex=#{sex},email=#{email},brithdat=#{brithdat} where id=#{id}
    </update>
    <insert id="insert" parameterType="cn.com.bean.UserBean" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into user_lp(name,sex,email,brithdat) values(#{name},#{sex},#{email},#{brithdat})
    </insert>

    <delete id="deleteById" parameterType="Integer">
        delete from user_lp where id=#{id}
    </delete>
</mapper>